################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/30BF9C4909A3C141A04C46A002DD6EFF
